.content {
  overflow: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content-controls {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 20px;
}
